@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add a machine</h2>

<h4>Add a machine to this engineer: @Html.DisplayFor(model => model.PersonName)</h4>
@if (@ViewBag.Machines.Count == 0)
{
    <p>You must first add machines to your database!</p>
    <p>@Html.ActionLink("Add a machine", "Create", "Machines")</p>
}
else
{
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.EngineerId)

        @Html.Label("Select machine")
        @Html.DropDownList("MachineId")

        <input type="submit" value="Save" class="btn btn-default" />
    }
}

<p>@Html.ActionLink("Back to list", "Index")</p>
</div>