@{
    Layout = "_Layout";
}


@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<h3>@Html.DisplayNameFor(model => model.PersonName): @Html.DisplayFor(model => model.PersonName)</h3>
@if (@Model.EngineerMachines.Count == 0)
{
    <p>This engineer does not belong to any Machines</p>
}
else
{
    <h4>Machines the engineer belong to:</h4>
    <ul>
    @foreach (EngineerMachine join in Model.EngineerMachines)
        {
            <li>@join.Machine.MachineName</li>
            @using (Html.BeginForm("DeleteJoin", "Engineers"))
            {
                @Html.Hidden("joinId", @join.EngineerMachineId)
                <input type="submit" value="Delete"/>
            }
        }
    </ul>

}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Machine", "AddEngineer", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>